body{
  	background-color: #F69680;
  	color: #2E1263; 
  	text-align: center;
  	margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  }

		
  
.content {
	max-width: 795px;
  margin: auto;


  
}

		